<div class="modal" id="list_models">
    <h3 class="title">Available Models</h3>
    <dl>
        <dt><%= content_tag 'a', 'Model Name', :onclick => "selectModel('model'); return false;", :href => '#', :title => 'Select' %></dt>
    </dl>
</div>
